@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
/*Global Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* Main header */
header {
  background: linear-gradient(to right, #60c3f8, #e6e4e8);
  color: #ffffffad;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

/* Button styling */
button {
  background-color: #2d6fa8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

#logoutBtn {
  margin: auto 0;
}

button:hover {
  background-color: #0056b3;
}
#detailsBtn {
  margin-left: 25px;
}

main {
  padding: 0 20px;
}

/* label {
  margin-right: 10px;
} */

/* Hello message */
.helloMessage {
  padding: 10px;
  height: 100%;
  text-align: center;
  margin: 5px 5px;
  color: #fff;
  color: #000000d9;
  font-weight: 500;
  font-size: 30px;
  font-weight: bold;
  font-style: oblique;
}
/* logout button */
.logout {
  display: flex;
}

/* Modals logic start*/
.modal {
  display: none;
  position: fixed;
  z-index: 15000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.modal-content {
  position: relative;
  background: linear-gradient(to right, #3eb7f9, #96beff);
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  border: 1px solid #888;
  max-width: 550px;
  border-radius: 10px;
  text-align: center;
  z-index: 15000;
  color: #fff;
}

.modal2 {
  display: none;
  position: fixed;
  z-index: 15000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content2 {
  position: relative;
  background: linear-gradient(to right, #3eb7f9, #96beff);
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  border: 1px solid #888;
  max-width: 550px;
  border-radius: 10px;
  text-align: center;
  z-index: 15000;
  color: #fff;
}

/* details of emplyoee modal */
.detailsModal {
  display: none;
  position: fixed;
  z-index: 15000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content3 {
  position: relative;
  background: linear-gradient(to right, #3eb7f9, #96beff);
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  border: 1px solid #888;
  max-width: 550px;
  border-radius: 10px;
  text-align: center;
  z-index: 15000;
  color: black;
}

.close-button {
  display: none;
}
.close-button2 {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.close-button2:hover,
.close-button2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* Modals logic end*/

/* Default behavior of farewell modal */
.farewell {
  display: none;
}

/* hide modal */
.hide {
  display: none;
  opacity: 0; /* Make the element transparent */
  pointer-events: none; /* Disable pointer events while hidden */
}
/* show modal */
.show {
  display: block;
  opacity: 1; /* Make the element fully visible */
  pointer-events: auto; /* Enable pointer events while visible */
}

/*employee system start*/
.employees {
  display: flex;
}
.employees > div {
  border: 1px solid black;
  overflow-y: scroll;
  height: 450px;
}
.employees__names {
  width: 30%;
}
.employees__single {
  width: 70%;
}
.employees__names,
.employees__single {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.employees__names--title,
.employees__single--title {
  padding-bottom: 10px;
  margin-bottom: 5px;
  text-align: center;
  border-bottom: 1px solid black;
  font-weight: bold;
}

/* Render all Employees - START */
.employees__names--list {
  display: flex;
  flex-direction: column;
}
.employees__names--item {
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: 5px;
  text-align: center;
  background-color: var(--item-bg);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.employees__names--item:hover,
.selected {
  background-color: var(--btn);
}
/* Render all Employees - END */

/* Render Single Employee - START */
.employees__single--heading {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  padding: 5px;
}
.employees__single--info {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  width: 40%;
}
.employees__single--info > img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 50%;
}
/* Render Single Employee - END */

/* Name and details of emplyoee styles */
.name_details {
  width: 20%;
  align-items: baseline;
  margin-bottom: 1em;
}

/* start date calendar  container */
.date_space1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* end date Calendar container */
.date_space2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.PTO {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.infoHeader {
  display: flex;
}
.calendars {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: stretch;
  z-index: 1;
}

.PTObtn {
  font-size: 10px;
  text-wrap: nowrap;
  height: 50px;
}

/* calendar start date */
#date_picker1 {
  --dark-body-bg: #232429;
  --light-body-bg: #f5f7fb;

  --dark-input: #323741;
  --light-input: #ffffff;

  --dark-border: #484d5a;
  --light-border: #b8bccb;

  --dark-date-foreground: #ffffff;
  --dark-inactive-fg: #636a78;
  --dark-active-fg: #9ca0b1;
  --dark-current-year: #3b414a;
  --dark-current-year-fg: #b2b8c9;
  --dark-selected: #1d5eff;
  --dark-hover: #2c437b;
  --dark-arrows-bg: #b0b8cc;
  --dark-arrows-fill: #333641;
  margin: 0 auto;
  position: relative;
  top: 15%;
  height: 40px;
}

#date_picker_input1 {
  margin-bottom: 8px;
  position: relative;
}

label {
  display: block;
  color: #8a8f9f;
  font-size: 1.02rem;
  font-weight: 300;
  margin-bottom: 10px;
}

#date1 {
  color: var(--dark-date-foreground);
  font-size: 16px;
  padding: 12px 20px;
  text-align: center;
}

#date1:hover {
  cursor: pointer;
}

#date1.onFocus:focus {
  outline: none;
}

#date_picker_input1.showCal:after {
  transform: rotate(180deg);
}

#date_picker_calendar1 {
  min-height: fit-content;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 12px;
}

#date1,
#date_picker_calendar1 {
  border-radius: 15px;
  background: var(--dark-input);
  border: 2px solid var(--dark-border);
  width: 100%;
}

/* start date calendar body */
#calendar_header1 {
  width: 100%;
  min-height: 30px;
  margin-bottom: 8px;
  color: var(--dark-date-foreground);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cal-btn {
  width: 20px;
  height: 20px;
  background: var(--dark-arrows-bg);
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 6px;
}

.cal-btn img {
  width: 42%;
  height: 42%;
}

.cal-btn.back img {
  transform: rotate(90deg);
}

.cal-btn.front img {
  transform: rotate(-90deg);
}

#cal_days1,
#calendar_main1 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 5px;
  column-gap: 5px;
  color: var(--dark-inactive-fg);
}

#cal_days1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#calendar_main1 {
  grid-template-rows: repeat(5, min(30px));
}

.cell_wrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
}

.current1 {
  background: var(--dark-current-year);
  color: var(--dark-current-year-fg);
}

.current1:not(.active):hover {
  background: var(--dark-hover);
  color: var(--dark-date-foreground);
  border: 2px solid var(--dark-selected);
}

.cal-btn:hover,
.current:hover {
  cursor: pointer;
}

.active {
  background: var(--dark-selected);
  color: var(--dark-date-foreground);
}

/* Today indicator */
.inactive_indicator:after {
  content: "";
  width: 3px;
  height: 3px;
  background: red;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  left: 50%;
}

.hidden {
  visibility: hidden;
}

/* start date calendar end */

/* 2 */
#date_picker2 {
  --dark-body-bg: #232429;
  --light-body-bg: #f5f7fb;
  --dark-input: #323741;
  --light-input: #ffffff;
  --dark-border: #484d5a;
  --light-border: #b8bccb;
  --dark-date-foreground: #ffffff;
  --dark-inactive-fg: #636a78;
  --dark-active-fg: #9ca0b1;
  --dark-current-year: #3b414a;
  --dark-current-year-fg: #b2b8c9;
  --dark-selected: #1d5eff;
  --dark-hover: #2c437b;
  --dark-arrows-bg: #b0b8cc;
  --dark-arrows-fill: #333641;
  margin: 0 auto;
  position: relative;
  top: 15%;
  height: 40px;
}

#date_picker_input2 {
  margin-bottom: 8px;
  position: relative;
}

label {
  display: block;
  color: #8a8f9f;
  font-size: 1.02rem;
  font-weight: 300;
  margin-bottom: 10px;
}

#date2 {
  color: var(--dark-date-foreground);
  font-size: 16px;
  padding: 12px 20px;
  text-align: center;
}

#date2:hover {
  cursor: pointer;
}

#date2.onFocus:focus {
  outline: none;
}

#date_picker_input2.showCal:after {
  transform: rotate(180deg);
}

#date_picker_calendar2 {
  min-height: fit-content;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 12px;
  z-index: 1000;
}

#date2,
#date_picker_calendar2 {
  border-radius: 15px;
  background: var(--dark-input);
  border: 2px solid var(--dark-border);
  width: 100%;
  z-index: 1000;
}

.cal_wrapper2 {
  z-index: 1000;
}

#calendar_header2 {
  width: 100%;
  min-height: 30px;
  margin-bottom: 8px;
  color: var(--dark-date-foreground);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cal-btn {
  width: 20px;
  height: 20px;
  background: var(--dark-arrows-bg);
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 6px;
}

.cal-btn img {
  width: 42%;
  height: 42%;
}

.cal-btn.back img {
  transform: rotate(90deg);
}

.cal-btn.front img {
  transform: rotate(-90deg);
}

#cal_days2,
#calendar_main2 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 5px;
  column-gap: 5px;
  color: var(--dark-inactive-fg);
}

#cal_days2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#calendar_main2 {
  grid-template-rows: repeat(5, min(30px));
}

.cell_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
}

.current {
  background: var(--dark-current-year);
  color: var(--dark-current-year-fg);
}

.current1:not(.active):hover {
  background: var(--dark-hover);
  color: var(--dark-date-foreground);
  border: 2px solid var(--dark-selected);
}

.cal-btn:hover,
.current:hover {
  cursor: pointer;
}

.active {
  background: var(--dark-selected);
  color: var(--dark-date-foreground);
}

.inactive_indicator:after {
  content: "";
  width: 3px;
  height: 3px;
  background: red;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  left: 50%;
}

.hidden {
  visibility: hidden;
}

/* pto columns start */
.pto-column {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 2%;
}
.pto-card {
  position: relative;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 100px;
}

/* Text in pto (start and end date ) */
.image_text {
  text-align: center;
  background-color: #3eb7f9;
  font-weight: bold;
  color: white;
}
/* classes for different seasons of year  */
.winter {
  background-image: url("https://i.pinimg.com/736x/7a/cf/a7/7acfa754fe7168504173b8c57eb05a49.jpg");/* apsolute */
  background-size: 305px 100px;
  opacity: 0.8;
}

.summer {
  background-image: url("./images/summer.jpg");/* relative */
  background-size: 305px 100px;
  opacity: 0.8;
}

.spring {
  background-image: url("https://www.desktopbackground.org/download/1920x1080/2011/02/20/160545_spring-pictures-for-desktop-wallpapers-hd-wide_1920x1200_h.jpg");/* apsolute */
  background-size: 305px 100px;
  opacity: 0.8;
}

.autumn {
  background-image: url("./images/autumn.jpg");/* relative */
  background-size: 305px 100px;
  opacity: 0.8;
}

/* delete pto style */
.delete-icon {
  position: absolute;
  top: -18px;
  right: -8px;
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.delete-icon:hover {
  background-color: gray;
  padding: 1px 8px;
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
}

#ptoList {
  width: 100%;
}
.pto-column span {
  display: flex;
  justify-content: center;
  color: #41b3e0;
  font-size: large;
  margin: 0 auto;
  font-weight: bold;
}

/* pto columns end */

.footer {
  background: #000000d9;
  padding: 10px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 30px 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 10%;
}

/* media query start */
@media screen and (max-width: 450px) {
  .main_header {
    padding: 1rem;
    font-size: 10px;
    border-radius: 0 0 10% 10%;
    text-align: left;
  }
  #logoutBtn {
    font-size: 11px;
    padding: 12px 10px;
  }
  .helloMessage {
    text-align: center;
    margin: 5px 5px;
    color: black;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: large;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .header_app {
    padding: 0;
    text-align: center;
    background: linear-gradient(to right, #60c3f8, #e6e4e8);
    color: #fff;
  }

  .modal-content {
    top: 30%;
    font-size: 13px;
  }
  .employees__names--title {
    font-weight: 600;
  }
  .employees__names {
    padding: 10px 0px;
  }
  #app {
    width: 100%;
    height: 1000px;
    padding: 0px;
    margin: 0px;
  }

  .employees__names--item {
    padding: 10px 0px;
    display: block;
    text-align: center;
  }
  .employees > div {
    border: 1px solid black;
    overflow-y: scroll;
    height: 900px;
  }

  .employees__single--title {
    font-weight: 600;
  }
  .infoHeader {
    flex-direction: column;
  }
  .name_details {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 100%;
    
    align-items: baseline;
    margin-bottom: 1em;
    margin: auto auto;
    align-content: center;
    text-align: center;
    align-items: center;
  }
  .employeename {
    width: 100%;
  }
  #detailsBtn {
    margin: 10px auto;
    font-size: 10px;
    padding: 10px 20px;
  }

  .calendars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 200px;
  }
  .PTObtn {
    margin: 10px auto;
    font-size: 10px;
  }

  #date1 {
    text-align: center;
  }
  #date2 {
    text-align: center;
  }
  #cal_wrapper2 {
    z-index: 2000;
  }
  #calendar_header1 {
    z-index: 2000;
  }
  #date2 {
    z-index: 0;
  }
  #date_picker_calendar1 {
    z-index: 2500000;
    position: sticky;
  }
  #ptoList {
    display: flex;
    flex-direction: column;
  }
  .pto-column {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  main {
    padding: 0;
    padding-top: 20px;
  }
  .modal-content3 {
    position: relative;
    top: 15%;
    background: linear-gradient(to right, #3eb7f9, #96beff);
    margin: 15% auto;
    padding: 20px;
    width: 100%;
    border: none;
    max-width: 550px;
    border-radius: 10px;
    text-align: center;
    z-index: 15000;
    color: #fff;
  }
}
/* media query end */
